body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.card
{
    background: #000000d1;
    padding: 2em;
    border-radius: 30px;
    width: 100%;
    max-width: 280px;
    color: white;
}